* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
	background-color: #C8C2AA;
	background-size: 4px 4px;
	background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
    color: #4D493E;
    box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.4), inset 0 0 150px rgba(77, 73, 62, 0.3);
}

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.container .box {
    box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.027), inset 0 0 150px rgba(77, 73, 62, 0.007);
    background: #918b77;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}

.container .box:hover {
    background: #625C4C;
}

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.container .box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.container .box:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}





.container .box:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
}


.container .box:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(7) {
    grid-column: span 2;
    grid-row: span 1;
}

@media (max-width: 991px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);

    }

    .container .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}



@media (max-width : 1600px) {
    .container .box:nth-child(12) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .container .box:nth-child(13) {
        grid-column: span 3;
        grid-row: span 1;
    }


}

@media only screen and (max-width : 1200px) {
    .container .box:nth-child(13) {
        grid-column: span 2;
        grid-row: span 1;
    }
}

a{
    color: #fff;
}